body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #de2b2b;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav a:hover {
    background-color: #126ede;
    color: black;
}

nav .logo {
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    nav a {
        float: none;
        width: 100%;
    }
}